{% extends '@MorgenbordCore/base.html.twig' %}

{% block title %}Morgenbord{% endblock %}

{% block board %}
<div id="board" class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 p-4">
{% for widget in userWidgets %}
<div class="card bg-base-100 w-96 shadow-xl">
  <div class="card-body">
    <div class="flex justify-between">
      <h2 class="card-title">{{ widget.parameters.name }}</h2>
      {{ include('@MorgenbordCore/widget_preferences_menu.html.twig', {'widgetId': widget.id}) }}
    </div>

    {{ include(widget.twigFile, {'parameters' : widget|get_actual_parameters}) }}
  </div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# {% for encore_entry in get_widgets_entries() %}
    {{ encore_entry_script_tags(encore_entry) }}
{% endfor %} #}
{% endblock %}
